<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885978279265-pil3br6arsfsjpi6i2h2v0ieb00qckn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885978279265-pil3br6arsfsjpi6i2h2v0ieb00qckn5</string>
	<key>API_KEY</key>
	<string>AIzaSyCXgXisSXZUQJIMOsRhvewtDGDBwP6v3ic</string>
	<key>GCM_SENDER_ID</key>
	<string>885978279265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.co2mmit</string>
	<key>PROJECT_ID</key>
	<string>co2mmit</string>
	<key>STORAGE_BUCKET</key>
	<string>co2mmit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885978279265:ios:0f56863d0be1f0f0f4e920</string>
</dict>
</plist>